{:paths ["resources" "src"]
 :deps {org.apache.logging.log4j/log4j-core {:mvn/version "2.17.2"}
        org.apache.logging.log4j/log4j-jcl {:mvn/version "2.17.2"}
        org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.17.2"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        integrant/integrant {:mvn/version "0.8.0"}
        metosin/reitit-core {:mvn/version "0.5.18"}
        metosin/reitit-ring {:mvn/version "0.5.18"}
        ring/ring-jetty-adapter {:mvn/version "1.9.5"}}
 :aliases {:build {:deps {io.github.clojure/tools.build
                          {:git/tag "v0.8.2" :git/sha "ba1a2bf"}}
                   :ns-default build
                   :extra-paths ["build"]}
           :test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.65.1029"}}
                  :main-opts ["-m" "kaocha.runner"]}}}
